@import 'tilda';

.artist-profile {
    min-height: 0;
    overflow-y: auto;
    
    header {
        background-image: linear-gradient($error-orange, #101010);
        padding: 0px 32px;
        padding-top: 100px;

        h1 {
            font-size: 60px;
            font-weight: 500;
            line-height: 56px;
            padding-bottom: 10px;
        }

        .header-buttons {
            margin: 15px 0;

            button:last-of-type {
                box-sizing: border-box;
                padding: 10px 42px;
                background-color: black;
                border: 2px solid white;
            }
        }
    }

    main {
        padding: 10px 32px 30px;
    }
}

header button {
    font-size: 11px;
    padding: 11px 44px;
    margin-right: 16px;
    border-radius: 50px;
}

header button:hover {
    transform: scale(1.06)
}

.artist-profile h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    padding-bottom: 10px;
}

.artist-profile section {
    padding-bottom: 20px;
}

.follow-button.unfollow {
    color: $error-orange;
    font-weight: 700;
}