@import 'tilda';

// #content-window {
//     background-image: linear-gradient(to right, #030303, rgb(54, 0, 0));
// }

#media-player button {
    background-color: rgba(0,0,0,0);
    color: #a0a0a0;

}

#media-player button:hover {
    background-color: rgba(0,0,0,0);
    color: white;

}

button:focus { outline: none; }

#media-player {
    display: flex;
    justify-content: space-between;
}
.ac-left, .ac-right {
    min-width: 200px;
    width: 300px;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.ac-left a {
    display: block;
}

.ac-left a:hover {
    text-decoration: underline;
}

.now-playing-song {
    color: white;
    padding-bottom: 7px;
}

.now-playing-artist {
    font-size: 10pt;
}

.now-playing-artwork {
    margin: 12px;
    width: 60px;
    height: 60px;
    border: none;
}

.ac-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     min-width: 40%;
}


.ac-mid button {
   
    padding: 0px;
}

.ac-right {
    display: flex;
    justify-content: flex-end;
}

.ac-right progress {
    margin-left: 8px;
        
}

.ac-right i {
    color: #a0a0a0;
}


.audio-controls {
    min-width: 224px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio-controls .play-pause i {
    font-size: 36px;
}

.media-bar progress:hover {
    color: $blue;
}


.progress-container {
    
    width: 100%;
    display: flex;
    align-items: center;

    .progress-bar {
        flex-grow: 1;
        position: relative;
        display: flex;
        align-items: center;

        progress {
            flex-grow: 1;
            height:  4px;
        }
        
        .player-position {
            background-color: transparent;
            padding: 6px;
            margin: 0px;
            border-radius: 50%;
            position: absolute;
        }
    }
    
    span {
        font-size: 12px;
        letter-spacing: 1px;
        margin: 0 5px;
        color: #a0a0a0;
    }
}