@import 'tilda';

button {
    background-color: $blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 300ms;
}
button:hover {

    transition: 300ms;
    background-color: $light-blue;
}

.submit-button {
    width: 320px;
    margin-top: 10px;
    padding: 16px 48px;

    font-weight: 600;
    border-radius: 50px;
}

