@import 'tilda';

.margin-right {
    margin-right: 24px;
}

.like-collection h2 {   
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
    
}

.like-collection.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 32px;

    .no-likes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 300px;

        h3 {
            font-size: 24px;
            font-style: italic;
            margin-bottom: 12px;
            border-bottom: 1px solid $error-orange;
            padding-bottom: 12px;
        }
    }
}

.like-header {
    padding-bottom: 20px;
}

.liked-songs-art {

    i {
        display: relative;
    }
}