#content-window {
    grid-area: content-window;
    min-height: 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#content-window .content {
    max-width: 100%;
    padding: 0px 32px;
    
    min-height: 0;
    overflow-y: auto;

    padding-top: 94px;
}

#content-window .content-wrapper {
    min-height: 0;
    overflow-y: auto;
}


