@import 'tilda';

.greeting-bar {
    display: flex;
    padding: 16px 24px;
    height: 48px;


    // background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: space-between;

    .nav-arrows, .greeting, .profile-icon {
        display: flex;
        align-items: center;
    }

    a:hover {
        transform: scale(1.06);
    }
}

.login-link {
    background-color: white;
    color: black !important;
}

.profile-icon  i {
    display: inline-block;
    background-color: $blue;
    font-size: 18px;
    
    padding: 4px;
    border-radius: 50%;
    
}

.profile-icon span {
    margin-right: 12px;
    margin-left: 12px;
}

.profile-icon {

    background-color: black;
    font-size: 10pt;
    padding: 5px 8px;
    border-radius: 26px;
    cursor: pointer;
}

.logout-greeting {
    color: $light-blue;
    font-size: 10pt;
    cursor: pointer;
    transform: none;
    padding: 0 15px;
}

.login-link, .signup-link {
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 34px;
    border-radius: 26px;
    cursor: pointer;
}



