@import 'tilda';

.home-page .home-header h1 {
    display: inline-block;
    font-size: 45px !important;
    font-weight: 600;
    letter-spacing: 2px;
    height: auto !important;
    font-style: italic;
    padding-bottom: 5px;
    border-bottom: 3px groove $blue;
}

.home-page .home-header h3 {
    padding-top: 9px;
    font-size: 13px;
    font-weight: 300;

    a {
        color: white;
        transition: 250ms;
        text-decoration: underline;
    }

    a:hover {
        transition: 250ms;
        color: $blue;
    }
}

.home-page .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.home-page section {
    h2 {
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 10px;
    }
}

.music-card-container {
    
}