@import 'tilda';

.home-page .home-header h1 {
    display: inline-block;
    font-size: 45px !important;
    font-weight: 600;
    letter-spacing: 2px;
    height: auto !important;
    font-style: italic;
    padding-bottom: 5px;
    border-bottom: 3px groove $blue;
}

.home-page .home-header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.home-page section {
    h2 {
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 10px;
    }
}