@import 'tilda';

#nav-bar {
    width: 230px;
    min-width: 230px;
    height: 100%;
    min-height: 0;
    background-color: #030303;
    padding-top: 27px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

#nav-bar .tilda-logo div {
    font-size: 30px;
    color: white;
    font-weight: 800;
    letter-spacing: 9px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.nav-list li {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    display: flex;
    align-items: center;
    transition: color 300ms;
    padding-left: 24px;
    padding-right: 24px;
}

.nav-list .active li {
    border-left: 3px solid $blue;
    color: white;
    padding-left: 21px;
}

.nav-list li > div {
    
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-list .material-icons {
    font-size: 25px;
    font-style: rounded;
}

.nav-list span {
    margin-left: 15px;
    letter-spacing: 150%;;
}

#nav-bar li:hover {
    transition: color 300ms;
    color: white;
}

#nav-bar h3 {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 24px;
    padding-top: 24px;
}

// CONTENT NAV BAR

.content-nav-bar {
    display: flex;
    
    li {
        margin: 15px 30px 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.content-nav-bar a {
    text-transform: uppercase;
    letter-spacing: .16em;
    font-size: 12px;
    font-weight: 500;
    transition: 300ms;
    hr {
        display: none;
        width: 30px;
        height: 2px;
    }
}

.content-nav-bar a:hover {
    color: white;
    transition: 300ms;
}

.content-nav-bar a.active {
    color: white;

    hr {
        display: flex;
        color: transparent;
        background-color: $blue;
    }
}