@import 'tilda';

.session-form-modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(255, 255, 255); 
        color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        width: 100%;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
        font-weight: 800;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 10px;
        padding-bottom: 20px;
        color: white;
        background-color: $blue;
        border-bottom: 1px solid grey;
    }

        a {
        color: $blue;
        cursor: pointer;
    }

    a:hover {
        color: $light-blue;
    }
}


.session-form {
    width: 400px;

    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-weight: 600;
        padding-bottom: 15px;
    }

    li {
        flex-grow: 1;
        width: 100%;
        padding-top: 7px ;
        padding-bottom: 7px ;
    }

    input {
        display: inline-block;
        height: 46px;
        padding-left: 12px;
        padding-right: 12px;
        font-style: inherit;
        font-size: inherit;
    }


}

.errors-list {
    box-sizing: border-box;
    padding: 6px;
    margin-bottom: 6px;
    display: block;
    width: 100%;
    background-color: $error-orange
}

.errors-list > li {
    display: inline-block !important;
    padding-left: 10px;
    text-align: center;
    color: white;
}

.radio-input {

    float: left;
    display: inline-block;
    // top: 20px;
    
}

.gender-options {
    display: flex;
    align-items: center;

    label {
        color: $input-gray;
    }
}

.gender-options input {
    height: initial;
}

.session-form li {
    display: flex;
    list-style: none;
    input {
        flex-grow: 1;
    }
}

.birthdate-input {
    width: 100%;
    display: flex;
    justify-content: left;
     
}

.birthdate-block {
    display: flex;
    flex-direction: column;

   
}

.birthdate-block > div {
    margin-bottom: 5px;
}

.birthdate-input > input {
    margin-left: 12px;
    padding-right: 12px;
    width: 20%;
}

.gender-options > label {
    margin-right: 15px;
}


// Resource based off of this prototype: https://www.filamentgroup.com/lab/select-css.html
.month-select {
    box-sizing: border-box;
	display: block;
	font-size: inherit;
	font-family: inherit;
    color: $input-gray;
    border-color: $border-gray;
    height: 51px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0px;

	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.month-select::-ms-expand {
	display: none;
}

.month-select option {
	font-weight:normal;
}

.policy {
    padding-top: 15px;
    padding-bottom: 15px;
}

.policy > p {
    text-align: center;
    font-size: 10pt;
    padding-bottom: 10px;
}

.signup-instead {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    margin-top: 40px;
    border-top: 1px solid $input-gray;



    p {
        margin-top: 50px;
        font-size: 17px;
        font-weight: 600;
    }

    button {
        font-weight: 600;
        margin-top: 17px;
        width: 320px;
        background-color: white;
        color: $input-gray;
        border: 2px solid $input-gray;
        border-radius: 50px;
    }

    button:hover {
        background-color: $input-gray;
        color: white;
    }
}