.session-form-modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(255, 255, 255); 

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 800;
        font-size: 40px;
        padding-bottom: 10px;
        color: black;
    }
}

.session-form {
    max-width: 400px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        flex-grow: 1;
        width: 100%;
        padding-top: 10px ;
    }

    input {
        display: inline-block;
        height: 46px;
        padding-left: 12px;
        padding-right: 12px;
        font-style: inherit;
        font-size: inherit;
    }

    label {
            margin-right: 20px;
    }

    .radio-input {
        padding-top: 20px;
        float: left;
        display: inline-block;
        height: 16px;
        top: -2px;
        
    }

    
}

.session-form li {
    display: flex;

    input {
        flex-grow: 1;
    }
}

.gender-options {
    // display: flex;        
    // justify-content: left; 
}

