.session-form-modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(255, 255, 255); 

    display: flex;
    flex-direction: column;
    align-items: center;

}

.session-form {
    max-width: 400px;
    color: black;
    padding: 20px;
    border-radius: 10px;

    h1 {
        font-weight: 800;
        font-size: 16px;
        padding-bottom: 10px;
        letter-spacing: 2px;
    }

    input {
        display: inline-block;
        height: 46px;
        padding-left: 12px;
        padding-right: 12px;
        font-style: inherit;
        font-size: inherit;
    }

    .radio-input {
        float: left;
    }
}

.session-form > input {
    height: none;
    width: 100%;
}

.gender-options {
    display: flex;        
    justify-content: space-between; 
}

.radio-input {

}