.song-collection {
    display: flex;
}

.song-collection button {
    border-radius: 50px;
    padding: 10px 50px;
    margin-bottom: 10px;
    font-size: 9pt;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.song-collection .song-count {
    text-transform: uppercase;
    font-size: 9pt;
    letter-spacing: 2px;
}

.song-list {
    width: 65%;

}

.collection-display {
    padding-right: 14px;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-collection h2 {
    padding: 10px 0px;
    font-weight: 600px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.collection-art {
    width: 100%;
    padding-top: 100%;
    background-color: rgb(247, 138, 234); 
    margin-bottom: 20px;
    max-width: 320px;
    max-height: 320px;
}

.collection-img {
    width: 100%;
    max-width: 320px;
    height: auto;
}

.song {
    margin-top: 4px;
    flex-grow: 1;
    font-weight: 300;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    transition: background-color 300ms, color 100ms;
    font-size: 13.5px
}

.song-title {
    font-size: 15px;
    flex-grow: 1;
}

.song-first-row {
    flex-grow: 1;
    display: flex;
    height: auto;
    align-items: center;
}

.song-options {
    width: 51px;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    cursor: pointer;
    padding-right: 15px;
}

.song:hover .song-options {
    color: white;
    transition: color 100ms;
}


.song:hover {
    transition: background-color 300ms;
    background-color: rgb(85, 85, 85);
}

.like-collection {
    padding: 20px;
}

.song-second-row {
    a {
        padding-top: 0px;
        cursor: pointer; 
    }

    a:hover {
        text-decoration: underline;
    }

    .second-line-separator {
        padding: 0 5px;
    }
}